@import "global";
@import "typo";
@import "themes";
@import "colors";
@import "variables";

html {
  font: var(--regular) var(--font-size)/1.25 "Inter", sans-serif;
  box-sizing: border-box;
  color: var(--primary);
  background: var(--secondary);
  // overflow: hidden; // disabled for storybook

  ::selection {
    background: var(--selection);
  }

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: var(--regular);
    font-size: var(--font-size-l);
  }

  h2 {
    font-weight: var(--regular);
    font-size: var(--font-size-l);
  }

  a, button {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    font-size: inherit;

    &:hover, &.router-link-active, &:focus {
      color: var(--accent);
    }

    &:focus-visible {
      outline: 1px solid var(--accent);
      outline-offset: 2px;
    }



    // &.link {
    //   &.router-link-active, &:hover {
    //     border-bottom: 1px solid currentColor;
    //   }
    // }
    
    // &.router-link-active, &:hover {
    //   border-bottom: 1px solid currentColor;
    // }

    // &.router-link-active {
    //   color: var(--accent);
    //   cursor: default;
    // }

    // &.button {
    //   border-bottom: none;
    //   &:hover {
    //     color: var(--accent);
    //   }
    // }

  }

  svg.icon {
    display: block;
  }

  .align-horizontal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing);
  }
}