// LAB (B-SPLINE)
// source: https://components.ai/theme/N9DlRkNZZagzZJTDi4Wr
:root {
  --gray-0: 0, 0, 0;
  --gray-1: 28, 28, 28;
  --gray-2: 48, 48, 48;
  --gray-3: 71, 71, 71;
  --gray-4: 93, 93, 93;
  --gray-5: 117, 117, 117;
  --gray-6: 140, 140, 140;
  --gray-7: 163, 163, 163;
  --gray-8: 186, 186, 186;
  --gray-9: 209, 209, 209;
  --gray-10: 232, 232, 232;
  --gray-11: 255, 255, 255;
  --blue-gray-0: 14, 14, 17;
  --blue-gray-1: 33, 34, 42;
  --blue-gray-2: 52, 53, 68;
  --blue-gray-3: 72, 74, 94;
  --blue-gray-4: 92, 95, 120;
  --blue-gray-5: 113, 116, 144;
  --blue-gray-6: 135, 137, 166;
  --blue-gray-7: 156, 158, 186;
  --blue-gray-8: 177, 179, 203;
  --blue-gray-9: 198, 200, 219;
  --blue-gray-10: 220, 220, 233;
  --blue-gray-11: 241, 241, 246;
  --blue-0: 13, 14, 26;
  --blue-1: 24, 33, 66;
  --blue-2: 30, 51, 109;
  --blue-3: 37, 71, 151;
  --blue-4: 50, 91, 189;
  --blue-5: 71, 111, 222;
  --blue-6: 98, 132, 246;
  --blue-7: 128, 154, 255;
  --blue-8: 159, 176, 255;
  --blue-9: 188, 198, 255;
  --blue-10: 217, 222, 255;
  --blue-11: 244, 245, 255;
  --indigo-0: 18, 12, 29;
  --indigo-1: 33, 27, 77;
  --indigo-2: 47, 41, 127;
  --indigo-3: 62, 56, 176;
  --indigo-4: 80, 73, 221;
  --indigo-5: 103, 91, 255;
  --indigo-6: 129, 112, 255;
  --indigo-7: 157, 135, 255;
  --indigo-8: 183, 160, 255;
  --indigo-9: 208, 186, 255;
  --indigo-10: 229, 214, 255;
  --indigo-11: 247, 241, 255;
  --violet-0: 23, 10, 27;
  --violet-1: 50, 21, 69;
  --violet-2: 80, 27, 113;
  --violet-3: 109, 35, 157;
  --violet-4: 138, 47, 197;
  --violet-5: 166, 65, 231;
  --violet-6: 190, 88, 255;
  --violet-7: 211, 116, 255;
  --violet-8: 227, 146, 255;
  --violet-9: 240, 177, 255;
  --violet-10: 249, 208, 255;
  --violet-11: 254, 240, 255;
  --magenta-0: 23, 9, 21;
  --magenta-1: 56, 20, 54;
  --magenta-2: 91, 24, 89;
  --magenta-3: 127, 30, 124;
  --magenta-4: 160, 40, 157;
  --magenta-5: 191, 58, 187;
  --magenta-6: 216, 83, 210;
  --magenta-7: 234, 112, 228;
  --magenta-8: 247, 143, 240;
  --magenta-9: 255, 174, 248;
  --magenta-10: 255, 206, 252;
  --magenta-11: 255, 238, 254;
  --red-0: 25, 9, 10;
  --red-1: 62, 19, 26;
  --red-2: 101, 24, 41;
  --red-3: 141, 29, 56;
  --red-4: 178, 39, 73;
  --red-5: 210, 58, 91;
  --red-6: 236, 83, 112;
  --red-7: 255, 112, 134;
  --red-8: 255, 144, 158;
  --red-9: 255, 176, 185;
  --red-10: 255, 208, 212;
  --red-11: 255, 240, 241;
  --orange-0: 32, 13, 2;
  --orange-1: 67, 23, 6;
  --orange-2: 105, 30, 10;
  --orange-3: 142, 40, 13;
  --orange-4: 177, 53, 20;
  --orange-5: 209, 71, 33;
  --orange-6: 234, 94, 54;
  --orange-7: 253, 121, 80;
  --orange-8: 255, 150, 112;
  --orange-9: 255, 180, 149;
  --orange-10: 255, 210, 190;
  --orange-11: 255, 240, 233;
  --gold-0: 22, 15, 5;
  --gold-1: 64, 46, 17;
  --gold-2: 110, 77, 20;
  --gold-3: 156, 108, 24;
  --gold-4: 198, 138, 32;
  --gold-5: 235, 166, 46;
  --gold-6: 255, 190, 68;
  --gold-7: 255, 209, 94;
  --gold-8: 255, 224, 124;
  --gold-9: 255, 235, 155;
  --gold-10: 255, 243, 188;
  --gold-11: 255, 250, 222;
  --yellow-0: 13, 12, 4;
  --yellow-1: 51, 47, 17;
  --yellow-2: 88, 83, 21;
  --yellow-3: 127, 119, 25;
  --yellow-4: 164, 154, 32;
  --yellow-5: 197, 186, 44;
  --yellow-6: 225, 212, 63;
  --yellow-7: 246, 232, 87;
  --yellow-8: 255, 246, 115;
  --yellow-9: 255, 254, 144;
  --yellow-10: 255, 255, 174;
  --yellow-11: 255, 255, 204;
  --lime-0: 22, 23, 8;
  --lime-1: 50, 55, 17;
  --lime-2: 80, 90, 21;
  --lime-3: 110, 124, 25;
  --lime-4: 139, 156, 34;
  --lime-5: 166, 185, 50;
  --lime-6: 190, 208, 73;
  --lime-7: 209, 226, 100;
  --lime-8: 225, 238, 131;
  --lime-9: 237, 246, 163;
  --lime-10: 246, 251, 196;
  --lime-11: 252, 254, 230;
  --green-0: 7, 18, 9;
  --green-1: 16, 40, 22;
  --green-2: 19, 63, 33;
  --green-3: 24, 87, 45;
  --green-4: 33, 111, 59;
  --green-5: 50, 134, 75;
  --green-6: 73, 156, 96;
  --green-7: 102, 177, 120;
  --green-8: 133, 196, 146;
  --green-9: 167, 214, 175;
  --green-10: 202, 231, 207;
  --green-11: 238, 247, 239;
  --teal-0: 7, 17, 15;
  --teal-1: 16, 39, 34;
  --teal-2: 19, 61, 53;
  --teal-3: 24, 84, 74;
  --teal-4: 33, 107, 94;
  --teal-5: 50, 129, 115;
  --teal-6: 73, 151, 137;
  --teal-7: 101, 172, 158;
  --teal-8: 133, 192, 179;
  --teal-9: 167, 211, 201;
  --teal-10: 202, 229, 222;
  --teal-11: 238, 247, 244;
  --cyan-0: 8, 17, 17;
  --cyan-1: 17, 38, 39;
  --cyan-2: 20, 60, 62;
  --cyan-3: 24, 83, 86;
  --cyan-4: 34, 106, 109;
  --cyan-5: 51, 128, 132;
  --cyan-6: 75, 150, 154;
  --cyan-7: 103, 171, 174;
  --cyan-8: 135, 191, 193;
  --cyan-9: 168, 210, 212;
  --cyan-10: 203, 228, 229;
  --cyan-11: 238, 246, 247;
}