:root {
  --secondary: rgb(var(--gray-11));
  --primary: rgb(var(--gray-0));
  --accent: rgb(var(--teal-5));
  --muted: rgb(var(--gray-9));
  --shadow: rgba(var(--gray-0), 0.5);
  --tint: rgb(var(--teal-10));
  --selection: rgba(var(--teal-9), 0.5);

  --hidden-couple: rgba(var(--gray-10), 0.3);
  --inactive: var(--muted);
  --default-blend-mode: darken;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: rgb(var(--gray-0));
    --primary: rgb(var(--gray-11));
    --accent: rgb(var(--teal-6));
    --muted: rgb(var(--gray-3));
    --shadow: rgba(var(--gray-11), 0.5);
    --tint: rgb(var(--teal-1));
    --selection: rgba(var(--teal-3), 0.5);

    --hidden-couple: rgba(var(--gray-1), 0.3);
    --inactive: var(--muted);
    --default-blend-mode: lighten;
  }
}

// .blur {
//   background: rgb(var(--secondary));
//   @supports ((-webkit-backdrop-filter:saturate(180%) blur(20px)) or (backdrop-filter:saturate(180%) blur(20px))) {
//     background: rgba(var(--secondary), .5);
//     backdrop-filter: blur(7px);
//   }
// }