
:root {
  --transition: 0.2s;

  --narrow: 360px;
  --medium: 720px;
  --wide: 1080px;

  --spacing: 10px;
  --spacing-xs: 2.5px;
  --spacing-s: 5px;
  --spacing-m: var(--spacing);
  --spacing-l: 20px;
  --spacing-xl: 40px;
  --icon-width: 25px;

  --menu-bar-height: 45px;
  --input-width: 250px;

  --font-family-sans: "Inter", sans-serif;

  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size: 20px;
  --font-size-l: 36px;

  --border-radius: var(--spacing-l);

  --light: 270;
  --regular: 360;
  --medium: 500;
  --bold: 600;
  --black: 900;

  --ui-border-radius: 5px;
  --ui-border-radius-s: 2.5px;
  --ui-border-radius-l: 15px;

  --ui-transition: 0.2s;
}