*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: var(--color-background);
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: var(--border-radius);

  &:disabled {
    color: color-mix(in lab, currentColor, transparent 70%);
  }
}