@import url(./base.css);
@import url(./fonts.css);
@import url(./colors.css);
@import url(./variables.css);

html {
  font:
    var(--regular) var(--font-size) / 1.25 'Inter',
    sans-serif;
  text-rendering: geometricPrecision;

  #app {
    display: grid;
    min-height: var(--app-height);
  }

  h1 {
    font-size: 1em;
    font-weight: 900;
  }
}
