:root {
  /* Dimensions */
  --spacing: 25px;

  /* Typography */
  --regular: 400;
  --font-size: 20px;

  /* Transitions */
  --transition: 1000ms;

  /* Colors */
  --color-background: white;
  --color-text: black;
  --graph-accent: var(--gray)
}