:root {
  /* Dimensions */
  --spacing: 20px;
  --spacing-quad: calc(var(--spacing) * 4);
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-half: calc(var(--spacing) * 0.5);
  --spacing-quart: calc(var(--spacing) * 0.25);

  
  --border-radius: var(--spacing-quart);
  --border-radius-large: calc(var(--border-radius) * 1.5);
  --border-radius-small: calc(var(--border-radius) * 0.5);

  /* Typography */
  --regular: 400;
  --font-size: 20px;
  --font-size-small: 16px;
  --font-size-tiny: 12px;
  --sans: var(--regular) var(--font-size) / 1.25 'Inter',
  sans-serif;
  --serif: var(--regular) var(--font-size) / 1.25 'Redaction',
  sans-serif;

  --serif-small: var(--regular) var(--font-size-small) / 1.25 'Redaction',
  sans-serif;

  /* Transitions */
  --transition: 1000ms;
  --ui-transition: 200ms;

  /* Colors */  
  --color-background: white;
  --color-text: black;
  --color-text-secondary: #6A9D95;

  --color-index-background: #1c6569;
  --color-index-edge: white;

  --color-detail-background: white;

  --graph-accent: rgb(255, 65, 30);
  --ui-accent: #136774;

  --color-public: var(--ui-accent);
  --color-edit: rgb(255, 65, 30);
  --color-preview: var(--violet);

  --color-accent: var(--graph-accent);


  --color-edge: var(--color-text);
  --color-edge-secondary: var(--color-text-secondary);
  --color-edge-highlight: var(--graph-accent);

  --color-network-background: #B8D1D1;
  --color-network-text: black;

  /* Shadows */
  --ui-shadow: 0px 0px 5px color-mix(in lab, var(--color-text), transparent 80%);

  /* Filter */
  --blur: blur(7px);  

  &.initialized {
    transition: --color-background var(--transition), --color-edge var(--transition);
  }
}


@property --color-background {
  syntax: "<color>";
  initial-value: white;
  inherits: true;
}

@property --color-edge {
  syntax: "<color>";
  initial-value: black;
  inherits: true;
}